@import "~bootstrap/scss/bootstrap.scss";

.stickArea{
    display: flex;
    justify-content: center;
}
.vl {
  border-left: 6px solid black;
  height: 4rem;
  top: 0;
 }

 .TrafficCircles{
  background-color: black;
  border-radius: 0.5rem;
  padding: 2rem;
 }

 .red{

  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 0.7rem;
  opacity: 0.5;
  
 }

 .yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  margin-bottom: 0.7rem;
  opacity: 0.5;
 } 

 .green{
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.5;
 }
 .active{
     opacity: 1;
 }